body{
    background-color: #122c34;
    font-family: 'DM Serif Display', serif;
}

#aboutProject {
    height: 100vh;
    text-align: center;
    color: #dac2cf;
    font-size: 2em;
    z-index: 0;
}

#aboutProject h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#aboutPara{
    background-color: #122c34;
    height:100vh;
}

#aboutPara p{
    color: #dac2cf;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25em;
    padding-top: 50px;
    width: 75%;
    line-height: 1.3;
    margin-left: auto;
    margin-right: auto;

}

#p4{
    margin-bottom: 10px;
}
